Source: lorawan-single-packet-gateway
Maintainer: Matthew Macdonald-Wallace <matt@doics.co>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: 
        debhelper (>= 9),

Package: lorawan-single-packet-gateway
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LoRaWAN Single Packet Gateway
